/* @group Base Styles */
/* @group Colors */
/* @end */
h1,
h2,
h3,
h4 {
  line-height: 1;
  margin: 0 0 20px;
  padding: 0;
}
h3, h4 {
  margin-bottom: 0;
}
h1 {
  font-size: 48px;
  text-shadow: 0 1px 0 white;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 28px;
}
hr {
  border: 0;
  border-top: 1px solid #06a638;
  border-bottom: 1px solid #64e5ae;
}
ul {
  list-style: none;
  margin: 0;
  padding: 20px 0;
}
li {
  padding-bottom: 10px;
}
/* @end */
/* @group Generic Layout */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background-color: #19824b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7))), url('../img/bg-stripe.png');
  font: 20px Podkova;
  line-height: 1.5;
  margin: 0;
}
#wrapper, footer {
  background: white;
  /* should not be seen */

  border: 3px solid #0a361f;
  border-top: 0;
  margin: 0 auto;
  width: 960px;
}
footer {
  margin-bottom: 300px;
  text-align: center;
  width: 700px;
}
header, section, nav {
  background-position: top left, bottom left;
  background-repeat: repeat, repeat-x;
  padding: 20px;
}
section {
  padding: 60px 20px;
}
.block {
  width: 440px;
  margin: 0;
  padding: 0 20px 0 0;
  float: left;
}
nav {
  padding: 0 20px;
  text-align: center;
  z-index: 30;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
nav li a {
  padding: 5px 20px;
  text-decoration: none;
}
nav.static {
  position: fixed;
  top: 0;
  width: 920px;
}
#pseudonav {
  background: #28ce77;
  display: none;
  position: static;
  height: 50px;
  width: 960px;
}
#pseudonav.static {
  display: block;
}
/* For modern browsers */
.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1;
}
/* @end */
/* @group Specific Layout */
header {
  background-color: #66ce98;
  background-image: url('../img/texture.png'), url('../img/header-nav-ribbon.png');
}
header img {
  float: left;
  padding: 0 30px;
}
header h1 {
  color: #14693c;
  font: 90px bold, Arvo;
  text-shadow: 3px 3px #62faa0;
  padding: 10px;
  margin: 0;
}
nav {
  background-color: #1b8f52;
  background-image: url('../img/texture.png');
  border-bottom: 3px solid #0a361f;
  font-size: 32px;
}
nav a, nav a:visited {
  color: #0a361f;
}
nav a:hover, nav a:visited:hover {
  color: white;
}
nav.static .active a {
  color: white;
}
nav .active a {
  color: #0a361f;
}
#we {
  background-color: #28ce77;
  background-image: url('../img/texture.png'), url('../img/we-partners-ribbon.png');
}
#we a.button {
  display: block;
  background: url('../img/submit-arrow.png') no-repeat right center #e3f01d;
  border: 3px solid #0a361f;
  color: #869800;
  cursor: pointer;
  height: 44px;
  margin: 0 auto 0 100px;
  float: left;
  font: 30px Podkova;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px 0 10px;
  width: 190px;
  vertical-align: middle;
}
#we a.button:hover {
  background-color: #F1FF1E;
}
#we a.button:active {
  background-color: #D0DB29;
}
#partners {
  background-color: #4a976f;
  background-image: url('../img/texture.png'), url('../img/partners-team-ribbon.png');
}
#meet {
  background-color: #66ce98;
  background-image: url('../img/texture.png'), url('../img/team-help-ribbon.png');
}
.team {
  padding: 0;
}
.team img {
  float: left;
  padding: 7px 10px 10px 0;
  margin: 0;
}
.team p {
  margin: 0;
}
.team .job {
  color: #3a7958;
}
.team .job:before {
  content: " – ";
}
#help {
  background-color: #4a976f;
  background-image: url('../img/texture.png'), url('../img/help-contact-ribbon.png');
}
.eventer li {
  width: 754px;
  margin: 20px 90px;
  padding: 0;
  background: url('../img/eventer-glow.png') repeat-x left bottom, url('../img/eventer-arrow.png') no-repeat 488px center, url('../img/eventer-bg.png') repeat-y left;
  border: 3px solid #0a361f;
  height: auto;
}
.eventer .main {
  float: left;
  width: 448px;
  padding: 20px;
  height: auto;
}
.eventer p {
  color: #105230;
  margin: 0;
}
.eventer aside {
  width: 245px;
  float: left;
  padding: 85px 10px 10px;
  height: auto;
}
.eventer aside p {
  text-align: center;
}
.eventer input[type=submit], .eventer a.button {
  display: inline-block;
  background: url('../img/submit-arrow.png') no-repeat right center #e3f01d;
  border: 3px solid #0a361f;
  color: #869800;
  cursor: pointer;
  height: 44px;
  margin: 0 0 0 15px;
  float: left;
  font: 30px Podkova;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px 0 10px;
  width: 190px;
  vertical-align: middle;
}
.eventer input[type=submit]:hover, .eventer a.button:hover {
  background-color: #F1FF1E;
}
.eventer input[type=submit]:active, .eventer a.button:active {
  background-color: #D0DB29;
}
.eventer form input[type=submit] {
  border-left: 0;
  margin: 0;
  height: 59px;
  padding: 0 30px 0 0;
  width: 40px;
  text-indent: -9999em;
  background-position: right center;
}
.eventer input[type=number] {
  border: 3px solid #0a361f;
  border-right: 0;
  display: inline-block;
  float: left;
  width: 150px;
  margin-left: 5px;
  padding-left: 30px;
  text-align: center;
  font: 50px Podkova;
}
.eventer input[type=number]::-webkit-input-placeholder {
  color: #21c770;
  text-align: center;
}
.eventer input[type=number]:-moz-placeholder {
  color: #21c770;
  text-align: center;
}
.eventer input[type=number]::-webkit-outer-spin-button, .eventer input[type=number]::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */

  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */

}
.eventer label {
  font-size: 50px;
  left: 35px;
  top: -8px;
  margin-left: -10px;
  float: left;
  position: relative;
}
.eventer h2 {
  text-shadow: 0 1px 0 white;
}
#contact {
  background-color: #28ce77;
  background-image: url('../img/texture.png');
}
#contact input, #contact textarea, #contact a.button {
  border: 3px solid #0a361f;
  font: 20px Podkova;
  margin: 10px 0;
  max-width: 410px;
  padding: 10px;
  width: 410px;
}
#contact input::-webkit-input-placeholder, #contact textarea::-webkit-input-placeholder, #contact a.button::-webkit-input-placeholder {
  color: #28ce77;
}
#contact input:-moz-placeholder, #contact textarea:-moz-placeholder, #contact a.button:-moz-placeholder {
  color: #28ce77;
}
#contact a.button {
  display: inline-block;
  background: url('../img/submit-arrow.png') no-repeat right center #e3f01d;
  border: 3px solid #0a361f;
  color: #869800;
  margin: 10px 4px 0 0;
  text-decoration: none;
  width: 230px;
  font: 30px Podkova;
}
#contact a.button:hover {
  background-color: #f1ff1e;
}
#contact a.button:active {
  background-color: #d0db29;
}
address {
  font-style: normal;
  font-size: 20px;
  padding-top: 20px;
}
footer {
  padding: 10px;
}
footer p {
  margin: 0;
}
/* @end */