/* @group HTML5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
/* @end */
/* @group Style */
body {
  background-color: #19824b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7))), url('../img/bg-stripe.png');
  font: 20px Podkova;
}
#wrapper, footer {
  background: white;
  /* should not be seen */

  border: 3px solid #0a361f;
}
header {
  background-color: #66ce98;
  background-image: url('../img/texture.png'), url('../img/header-nav-ribbon.png');
}
header h1 {
  color: #14693c;
  font: 90px bold, Arvo;
  text-shadow: 3px 3px #62faa0;
}
nav {
  background-color: #1b8f52;
  background-image: url('../img/texture.png');
  border-bottom: 3px solid #0a361f;
  font-size: 32px;
}
nav a {
  color: #0a361f;
}
nav a:hover {
  color: white;
}
#we {
  background-color: #28ce77;
  background-image: url('../img/texture.png'), url('../img/we-team-ribbon.png');
}
#partners {
  background-color: #4a976f;
  background-image: url('../img/texture.png') /*, url('../img/we-team-ribbon.png')*/;
}
/* @end */
/* @group Headers */
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 0 white;
}
/* @end */
/* @group Generic Layout */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
#wrapper, footer {
  border-top: 0;
  margin: 0 auto;
  width: 960px;
}
footer {
  margin-bottom: 200px;
  text-align: center;
  width: 700px;
}
header, section, nav {
  background-position: bottom left;
  background-repeat: repeat, repeat-x;
  padding: 20px;
}
nav {
  padding: 0 20px;
  text-align: center;
  z-index: 10;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
nav li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}
nav.static {
  position: fixed;
  top: 0;
  width: 920px;
}
#pseudonav {
  background: red;
  display: none;
  position: static;
  height: 55px;
  width: 960px;
}
#pseudonav.static {
  display: block;
}
/* @end */