
/* @group Colors */

@classicBG: #19824b;

@wrapperBorder: #0a361f;
@textureURL: '../img/texture.png';

@headerBG: #66ce98;
@headerText: #14693c;
@headerShadow: #62faa0;

@navBG: #1b8f52;

@weBG: #28ce77;

@partnersBG: #4a976f;

@teamBG: #66ce98;
@teamDeemph: #3a7958;

@helpBG: #4a976f;
@eventerMainBG: #28ce77;
@eventerSideBG: #19824b;

@contactBG: #28ce77;

/* @end */

/* @group Headers */

h1,
h2,
h3,
h4 {
	line-height: 1;
	margin: 0 0 20px;
	padding: 0;
}

	h3,
	h4 {
		margin-bottom: 0;
	}

h1 {
	font-size: 48px;
	text-shadow: 0 1px 0 white;
}

h2 {
	font-size: 34px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 28px;
}
/* @end */

hr {
	border: 0;
	border-top: 1px solid #06a638;
	border-bottom: 1px solid #64e5ae;
}

ul {
	list-style: none;
	margin: 0;
	padding: 20px 0;
}

li {
	padding-bottom: 10px;
}

/* @group Generic Layout */

html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-color: @classicBG;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,.7))), url('../img/bg-stripe.png');
	font: 20px Podkova;
	line-height: 1.5;
	margin: 0;
}

#wrapper,
footer {
	background: white; /* should not be seen */
	border: 3px solid @wrapperBorder;
	border-top: 0;
	
	margin: 0 auto;
	width:  960px;
	
}
	
	footer {
		margin-bottom: 200px;
		text-align: center;
		width: 700px;
	}

header,
section,
nav {
	background-position: bottom left;
	background-repeat: repeat, repeat-x;
	padding: 20px;
}

	.block {
		width: 440px;
		margin: 0;
		padding: 0 20px 0 0;
		float: left;
	}
	
	nav {
		padding: 0 20px;
		text-align: center;
		z-index: 10;
		
		ul {
			margin: 0;
			padding: 0;
		}
		
		li {
			display: inline-block;
			margin: 0;
			padding: 0;
			
			a {
				display: block;
				padding: 10px 20px;
				text-decoration: none;
			}
		}
		
		&.static {
			position: fixed;
			top: 0;
			width: 920px;
		}
	}
	
	#pseudonav {
		background: @weBG;
		display: none;
		position: static;
		height: 55px;
		width: 960px;
		
		&.static {
			display: block;
		}
	}
	
	/* For modern browsers */
	.cf:before,
	.cf:after {
	    content:"";
	    display:table;
	}
	
	.cf:after {
	    clear:both;
	}
	
	/* For IE 6/7 (trigger hasLayout) */
	.cf {
	    zoom:1;
	}
/* @end */


/* @group Specific Layout */

header {
	background-color: @headerBG;
	background-image: url(@textureURL), url('../img/header-nav-ribbon.png');
	
	img {
		float: left;
		padding: 0 30px;
	}
	
	h1 {
		color: @headerText;
		font: 90px bold, Arvo;
		text-shadow: 3px 3px @headerShadow;
		padding: 10px;
		margin: 0;
	}
}

nav {
	background-color: @navBG;
	background-image: url(@textureURL);
	border-bottom: 3px solid @wrapperBorder;
	
	font-size: 32px;
	
	a {	color: @wrapperBorder; 
		&:hover { color: white; }
	}
}
	
#we {
	background-color: @weBG;
	background-image: url(@textureURL), url('../img/we-partners-ribbon.png');
}

#partners {
	background-color: @partnersBG;
	background-image: url(@textureURL), url('../img/partners-team-ribbon.png');	
}

#meet {
	background-color: @teamBG;
	background-image: url(@textureURL), url('../img/team-help-ribbon.png');	
}

	.team {
		img {
			float: left;
			padding: 7px 10px 10px 0;
			margin: 0;
		}
		
		p {
			margin: 0;
		}
		
		.job {
			color: @teamDeemph;
			
			&:before {
				content: " – ";
			}
		}
	}

#help {
	background-color: @helpBG;
	background-image: url(@textureURL), url('../img/help-contact-ribbon.png');	
}

	.eventer {
		
		li {
			width: 760px;
			margin: 20px 90px;
			padding: 0;
			border: 3px solid @wrapperBorder;
			height: auto;
		}
		
			.main {
				float: left;
				width: 440px;
				background: @eventerMainBG;
				border-right: 1px solid @wrapperBorder;
				padding: 20px;
				height: auto;
			}
			
			aside {
				width: 259px;
				float: left;
				background: @eventerSideBG;
				padding: 10px;
				height: auto;
			}
			
				input[type=text] {
					border: 3px solid @wrapperBorder;
					display: inline-block;
					width: 230px;
					font-size: 50px;
					
					&:before {
						content: "$";
						background: red;
						height: 20px;
						width: 20px;
						display: block;
					}
					
					&::-webkit-input-placeholder {
						color: #21c770;
					}
				}
			
			h2 {
				text-shadow: 0 1px 0 white;
			}
	}

#contact {
	background-color: @contactBG;
	background-image: url(@textureURL);	
}

footer {
	padding: 10px;
	
	p { 
		margin: 0;
	}
}

/* @end */